<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hello, World</title>
    <style type="text/css">
        body{
            background-image: url("img/bg.png");
        }
        #content{
            height: 600px;
            width: 800px;
            margin: 0 auto;
        }
        #pos{
            height: 30px;
            width: 200px;
            margin: 0 auto;
            text-align: center;
            border:1px white solid;
            border-radius: 5px;
            color: white;
            opacity:0.8;
        }
        #data{
            margin-left:200px;
            color: white;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=U0lRpYoYfLz3t1fRZZNsXGsiPake6tu7">
    </script>
    <script type="text/javascript" src="jquery-3.2.1.min.js">
    </script>
</head>

<body>
    <div id="content">
        <div id="pos"></div>
        <div id="data"></div>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            var geolocation = new BMap.Geolocation();
            var city;
            cookie = document.cookie;
            //判断浏览器是否有缓存，如果有的话，直接从缓存中拿
            if (cookie!=null&&cookie!="")
            {
                $("#pos").html(cookie.split("=")[1]);
            }else{
                geolocation.getCurrentPosition(function(r) {
                    if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                        var mk = new BMap.Marker(r.point);
                        // 将经纬度进行转换
                        var gc = new BMap.Geocoder();
                        gc.getLocation(r.point, function(rs) {
                            var addComp = rs.addressComponents;
                            var pos = addComp.province + ", " + addComp.city + ", " + addComp.district;
                            document.cookie="pos="+pos;
                            document.getElementById("pos").innerHTML = addComp.province + ", " + addComp.city + ", " + addComp.district;
                        });
                    } else {
                        alert('failed' + this.getStatus());
                    }
                });
            }
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/urbanAirQuality",
                data: {
                    "city": "西安"
                },
                dataType: "json",
                success: function(data) {
                   var $data =  $("#data");
                   var result = data.result;
                   console.log(result);
                   var citynow = result[0].citynow;
                   $data.append("<p>citynow</p>")
                   $data.append("<ul>");
                   $data.append("<li>"+citynow.city+"</li>");
                   $data.append("<li>"+citynow.AQI+"</li>");
                   $data.append("<li>"+citynow.quality+"</li>");
                   $data.append("<li>"+citynow.date+"</li>");
                   $data.append("</ul>")

                    $data.append("<p>lastMoniData</p>")
                    $data.append("<ul>")
                    for(var key in result[0].lastMoniData)
                    {
                        var value = result[0].lastMoniData[key];
                        $data.append("<li>"+value.city+"</li>");
                        $data.append("<li>"+value.AQI+"</li>");
                        $data.append("<li>"+value.quality+"</li>");
                        $data.append("<li>"+value.date+"</li>");
                    }
                    $data.append("</ul>")
                    $data.append("<p>lastTwoWeeks</p>")
                },
                error: function() {

                }
            });
        };
    </script>

</body>

</html>